In [1]:
import sqlite3
from sqlite3 import Error

import pandas as pd
import numpy as np

Creating DB Connection

In [2]:
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

conn = create_connection(r"C:\Users\Asus\CapstoneDB\imdb_data.db")
conn.close()

In [3]:
conn = create_connection(r"C:\Users\Asus\CapstoneDB\imdb_data.db")
cur = conn.cursor()

Creating 1st table

In [4]:
tble1 = """CREATE TABLE directors (
    Sno INTEGER,
    MovieName TEXT,
    Duration INTEGER,
    Year INTEGER,
    Ratings REAL,
    Metascore INTEGER,
    Director1 TEXT,
    Director2 TEXT,
    Director3 TEXT,
    Director4 TEXT,
    Director5 TEXT,
    Director6 TEXT,
    Director7 TEXT,
    Director8 TEXT,
    Director9 TEXT,
    Director10 TEXT
);
"""
cur.execute(tble1)

In [5]:
df1 = pd.read_csv("imdb_data1.csv", header=0)

In [6]:
df1.head()

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Director10
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,NaN,NaN,NaN,NaN,NaN
1,2,The Lord of the Rings: The Return of the King,201,2003,9.0,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,NaN,NaN,NaN,NaN,NaN
2,3,Spider-Man: Across the Spider-Verse,140,2023,8.8,86.0,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,NaN,NaN,NaN
3,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,NaN,NaN,NaN,NaN,NaN
4,5,The Lord of the Rings: The Fellowship of the Ring,178,2001,8.8,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,NaN,NaN,NaN,NaN,NaN

In [7]:
df1.to_sql('directors', conn, if_exists='replace', index=False)

1775

Creating 2nd table

In [8]:
tble2 = """CREATE TABLE stars (
    MovieName TEXT,
    Votes INTEGER,
    GrossCollection REAL,
    Popularity REAL,
    Certification TEXT,
    Star1 TEXT,
    Star2 TEXT,
    Star3 TEXT,
    Star4 TEXT,
    Star5 TEXT,
    Star6 TEXT,
    Star7 TEXT,
    Star8 TEXT,
    Star9 TEXT,
    Genre1 TEXT,
    Genre2 TEXT,
    Genre3 TEXT
);
"""
cur.execute(tble2)

In [86]:
df2 = pd.read_csv("imdb_data2.csv", header=0)

In [87]:
df2.head()

,Movie Name,Votes,Gross collection,Popularity,Certification,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,The Dark Knight,2759160,"534,858,444",9.0,UA,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,NaN,NaN,NaN,NaN,NaN,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,1906339,"377,845,905",9.0,U,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Drama
2,Spider-Man: Across the Spider-Verse,208178,208178,8.8,U,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,NaN,NaN,NaN,Animation,Action,Adventure
3,Inception,2449482,"292,576,195",8.8,UA,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Sci-Fi
4,The Lord of the Rings: The Fellowship of the Ring,1934546,"315,544,750",8.8,U,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Drama

In [88]:
df2.to_sql('stars', conn, if_exists='replace', index=False)

1775

1. Display all the details of movies created by directors Christopher and Matt Reeves

In [12]:
qry = "SELECT * FROM directors WHERE Director1 IN ('Christopher Nolan', 'Matt Reeves') \
         OR Director2 IN ('Christopher Nolan', 'Matt Reeves') \
         OR Director3 IN ('Christopher Nolan', 'Matt Reeves') \
         OR Director4 IN ('Christopher Nolan', 'Matt Reeves') \
         OR Director5 IN ('Christopher Nolan', 'Matt Reeves') \
         OR Director6 IN ('Christopher Nolan', 'Matt Reeves') \
         OR Director7 IN ('Christopher Nolan', 'Matt Reeves') \
         OR Director8 IN ('Christopher Nolan', 'Matt Reeves') \
         OR Director9 IN ('Christopher Nolan', 'Matt Reeves');"
df_qry = pd.read_sql_query(qry, conn)
df_qry

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Director10
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,None,None,None,None,None
1,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,None,None,None,None,None
2,17,The Dark Knight Rises,164,2012,8.4,78.0,Christopher Nolan,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,None,None,None,None,None
3,37,Batman Begins,140,2005,8.2,70.0,Christopher Nolan,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,None,None,None,None,None
4,130,Dunkirk,106,2017,7.8,94.0,Christopher Nolan,Fionn Whitehead,Barry Keoghan,Mark Rylance,Tom Hardy,None,None,None,None,None
5,132,The Batman,176,2022,7.8,72.0,Matt Reeves,Robert Pattinson,Zoë Kravitz,Jeffrey Wright,Colin Farrell,None,None,None,None,None
6,226,Dawn of the Planet of the Apes,130,2014,7.6,79.0,Matt Reeves,Gary Oldman,Keri Russell,Andy Serkis,Kodi Smit-McPhee,None,None,None,None,None
7,312,War for the Planet of the Apes,140,2017,7.4,82.0,Matt Reeves,Andy Serkis,Woody Harrelson,Steve Zahn,Karin Konoval,None,None,None,None,None
8,325,Tenet,150,2020,7.3,69.0,Christopher Nolan,John David Washington,Robert Pattinson,Elizabeth Debicki,Juhan Ulfsak,None,None,None,None,None
9,521,Cloverfield,85,2008,7.0,64.0,Matt Reeves,Mike Vogel,Jessica Lucas,Lizzy Caplan,T.J. Miller,None,None,None,None,None

2. Display all the details of movies with a duration of 140 minutes to 190 minutes

In [13]:
qry = "SELECT * FROM directors WHERE Duration >= 140 and Duration <= 190;"
df_qry = pd.read_sql_query(qry, conn)
df_qry

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Director10
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,None,None,None,None,None
1,3,Spider-Man: Across the Spider-Verse,140,2023,8.8,86.0,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,None,None,None
2,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,None,None,None,None,None
3,5,The Lord of the Rings: The Fellowship of the Ring,178,2001,8.8,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,None,None,None,None,None
4,6,The Lord of the Rings: The Two Towers,179,2002,8.8,87.0,Peter Jackson,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,1762,Liger,140,2022,2.7,NaN,Puri Jagannadh,Ananya Panday,Mike Tyson,Vijay Deverakonda,Ronit Roy,None,None,None,None,None
204,1763,Gunday,152,2014,2.7,NaN,Ali Abbas Zafar,Ranveer Singh,Arjun Kapoor,Priyanka Chopra Jonas,Irrfan Khan,None,None,None,None,None
205,1766,Heropanti 2,145,2022,2.5,NaN,Ahmed Khan,Tiger Shroff,Nawazuddin Siddiqui,Tara Sutaria,Amber Doig-Thorne,None,None,None,None,None
206,1767,Laxmii,141,2020,2.5,NaN,Raghava Lawrence,Balakrishnan Thevar,Akshay Kumar,Kiara Advani,Sharad Kelkar,Ashwini Kalsekar,None,None,None,None
207,1772,Race 3,160,2018,1.9,NaN,Remo D'Souza,Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez,None,None,None,None,None

3. Display all the details of movies with ratings above 7 in ascending order

In [14]:
qry = "SELECT * FROM directors WHERE Ratings > 7 ORDER BY Ratings ASC;"
df_qry = pd.read_sql_query(qry, conn)
df_qry

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Director10
0,435,Mission: Impossible,110,1996,7.1,59.0,Brian De Palma,Tom Cruise,Jon Voight,Emmanuelle Béart,Henry Czerny,None,None,None,None,None
1,436,The Mummy,124,1999,7.1,48.0,Stephen Sommers,Brendan Fraser,Rachel Weisz,John Hannah,Arnold Vosloo,None,None,None,None,None
2,437,Man of Steel,143,2013,7.1,55.0,Zack Snyder,Henry Cavill,Amy Adams,Michael Shannon,Diane Lane,None,None,None,None,None
3,438,American Made,114,2017,7.1,65.0,Doug Liman,Tom Cruise,Domhnall Gleeson,Sarah Wright,Jesse Plemons,None,None,None,None,None
4,439,WarGames,114,1983,7.1,77.0,John Badham,Matthew Broderick,Ally Sheedy,John Wood,Dabney Coleman,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,None,None,None,None,None
489,5,The Lord of the Rings: The Fellowship of the Ring,178,2001,8.8,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,None,None,None,None,None
490,6,The Lord of the Rings: The Two Towers,179,2002,8.8,87.0,Peter Jackson,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,None,None,None,None,None
491,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,None,None,None,None,None
492,2,The Lord of the Rings: The Return of the King,201,2003,9.0,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,None,None,None,None,None

4. Display all movie names in descending order.

In [15]:
qry = "SELECT * FROM directors ORDER BY 'Movie Name' DESC;"
df_qry = pd.read_sql_query(qry, conn)
df_qry

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Director10
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,None,None,None,None,None
1,2,The Lord of the Rings: The Return of the King,201,2003,9.0,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,None,None,None,None,None
2,3,Spider-Man: Across the Spider-Verse,140,2023,8.8,86.0,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,None,None,None
3,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,None,None,None,None,None
4,5,The Lord of the Rings: The Fellowship of the Ring,178,2001,8.8,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1770,1771,Radhe,109,2021,1.9,NaN,Prabhu Deva,Salman Khan,Disha Patani,Randeep Hooda,Jackie Shroff,None,None,None,None,None
1771,1772,Race 3,160,2018,1.9,NaN,Remo D'Souza,Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez,None,None,None,None,None
1772,1773,Angels Apocalypse,85,2015,1.6,NaN,Sean Cain,Enzo Zelocchi,Enzo Zelocchi,Jana Rochelle,Ryan C.F. Buckley,William Kirkham,None,None,None,None
1773,1774,Elk*rtuk,125,2021,1.5,NaN,Keith English,Vivianne Bánovits,András Mózes,Barna Bokor,Gabriella Gubás,None,None,None,None,None
1774,1775,Sadak 2,133,2020,1.2,NaN,Mahesh Bhatt,Alia Bhatt,Sanjay Dutt,Pooja Bhatt,Priyanka Bose,None,None,None,None,None

5. Display movie name starts with ‘P’ and their rating is greater than 7.

In [16]:
qry = "SELECT * FROM directors WHERE `Movie Name` LIKE 'P%' AND Ratings > 7;"
df_qry = pd.read_sql_query(qry, conn)
df_qry

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Director10
0,56,Paan Singh Tomar,135,2012,8.2,NaN,Tigmanshu Dhulia,Irrfan Khan,Mahie Gill,Rajesh Abhay,Hemendra Dandotiya,None,None,None,None,None
1,58,Pirates of the Caribbean: The Curse of the Bla...,143,2003,8.1,63.0,Gore Verbinski,Johnny Depp,Geoffrey Rush,Orlando Bloom,Keira Knightley,None,None,None,None,None
2,119,Per un pugno di dollari,99,1964,7.9,65.0,Sergio Leone,Clint Eastwood,Gian Maria Volontè,Marianne Koch,Wolfgang Lukschy,None,None,None,None,None
3,136,Predator,107,1987,7.8,47.0,John McTiernan,Arnold Schwarzenegger,Carl Weathers,Kevin Peter Hall,Elpidia Carrillo,None,None,None,None,None
4,240,Pushpa: The Rise - Part 1,179,2021,7.6,NaN,Sukumar,Allu Arjun,Fahadh Faasil,Rashmika Mandanna,Jagadeesh Prathap Bandari,None,None,None,None,None
5,244,Ponniyin Selvan: I,167,2022,7.6,NaN,Mani Ratnam,Vikram,Aishwarya Rai Bachchan,Jayam Ravi,Karthi,None,None,None,None,None
6,303,Pirates of the Caribbean: Dead Man's Chest,151,2006,7.4,53.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Keira Knightley,Jack Davenport,None,None,None,None,None
7,306,Predestination,97,I) (2014,7.4,69.0,Michael Spierig,Peter Spierig,Ethan Hawke,Sarah Snook,Noah Taylor,Madeleine West,None,None,None,None
8,362,Patriots Day,133,2016,7.3,69.0,Peter Berg,Mark Wahlberg,Michelle Monaghan,J.K. Simmons,John Goodman,None,None,None,None,None
9,386,Point Break,122,1991,7.2,59.0,Kathryn Bigelow,Patrick Swayze,Keanu Reeves,Gary Busey,Lori Petty,None,None,None,None,None
10,443,Prey,100,I) (2022,7.1,71.0,Dan Trachtenberg,Amber Midthunder,Dakota Beavers,Dane DiLiegro,Stormee Kipp,None,None,None,None,None
11,448,Pirates of the Caribbean: At World's End,169,2007,7.1,50.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Keira Knightley,Geoffrey Rush,None,None,None,None,None
12,472,Payback,100,I) (1999,7.1,46.0,Brian Helgeland,Mel Gibson,Gregg Henry,Maria Bello,David Paymer,None,None,None,None,None

1. Display all movie names with star Arnold Schwarzenegger in ascending order

In [89]:
qry = "SELECT * FROM stars WHERE star1 IN ('Arnold Schwarzenegger') \
         OR star2 IN ('Arnold Schwarzenegger') \
         OR star3 IN ('Arnold Schwarzenegger') \
         OR star4 IN ('Arnold Schwarzenegger') \
         OR star5 IN ('Arnold Schwarzenegger') \
         OR star6 IN ('Arnold Schwarzenegger') \
         OR star7 IN ('Arnold Schwarzenegger') \
         OR star8 IN ('Arnold Schwarzenegger') \
         OR star9 IN ('Arnold Schwarzenegger') ORDER BY 'Ratings' ASC;"
df_qry = pd.read_sql_query(qry, conn)
df_qry

,Movie Name,Votes,Gross collection,Popularity,Certification,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,Terminator 2: Judgment Day,1135391,"204,843,350",8.6,A,Arnold Schwarzenegger,Linda Hamilton,Edward Furlong,Robert Patrick,None,None,None,None,None,Action,Sci-Fi,None
1,The Terminator,895182,"38,400,000",8.1,A,Arnold Schwarzenegger,Linda Hamilton,Michael Biehn,Paul Winfield,None,None,None,None,None,Action,Sci-Fi,None
2,Predator,438800,"59,735,548",7.8,A,Arnold Schwarzenegger,Carl Weathers,Kevin Peter Hall,Elpidia Carrillo,None,None,None,None,None,Action,Adventure,Horror
3,Total Recall,343671,"119,394,840",7.5,A,Arnold Schwarzenegger,Sharon Stone,Michael Ironside,Rachel Ticotin,None,None,None,None,None,Action,Adventure,Sci-Fi
4,True Lies,272218,"146,282,411",7.3,A,Arnold Schwarzenegger,Jamie Lee Curtis,Tom Arnold,Bill Paxton,None,None,None,None,None,Action,Comedy,Thriller
5,Conan the Barbarian,157313,"39,565,475",6.9,A,Arnold Schwarzenegger,James Earl Jones,Max von Sydow,Sandahl Bergman,None,None,None,None,None,Action,Adventure,Fantasy
6,Escape Plan,251804,"25,132,228",6.7,A,Sylvester Stallone,Arnold Schwarzenegger,50 Cent,Vincent D'Onofrio,None,None,None,None,None,Action,Thriller,None
7,The Running Man,160372,"38,122,105",6.7,A,Arnold Schwarzenegger,Maria Conchita Alonso,Yaphet Kotto,Jim Brown,None,None,None,None,None,Action,Sci-Fi,Thriller
8,Commando,169380,"35,100,000",6.7,A,Arnold Schwarzenegger,Rae Dawn Chong,Dan Hedaya,Vernon Wells,None,None,None,None,None,Action,Adventure,Thriller
9,Last Action Hero,159102,"50,016,394",6.5,U,Arnold Schwarzenegger,F. Murray Abraham,Art Carney,Charles Dance,None,None,None,None,None,Action,Adventure,Comedy
10,Terminator Genisys,286677,"89,760,956",6.3,UA,Arnold Schwarzenegger,Jason Clarke,Emilia Clarke,Jai Courtney,None,None,None,None,None,Action,Adventure,Sci-Fi
11,Terminator 3: Rise of the Machines,410657,"150,371,112",6.3,UA,Arnold Schwarzenegger,Nick Stahl,Kristanna Loken,Claire Danes,None,None,None,None,None,Action,Sci-Fi,None
12,The Last Stand,143277,"12,050,299",6.3,A,Arnold Schwarzenegger,Forest Whitaker,Johnny Knoxville,Rodrigo Santoro,None,None,None,None,None,Action,Thriller,Western
13,Terminator: Dark Fate,186779,"62,253,077",6.2,UA,Linda Hamilton,Arnold Schwarzenegger,Mackenzie Davis,Natalia Reyes,None,None,None,None,None,Action,Adventure,Sci-Fi
14,Kindergarten Cop,157593,"91,457,688",6.2,U,Arnold Schwarzenegger,Penelope Ann Miller,Pamela Reed,Linda Hunt,None,None,None,None,None,Action,Comedy,Crime
15,Eraser,115927,"101,295,562",6.2,A,Arnold Schwarzenegger,Vanessa Williams,James Caan,James Coburn,None,None,None,None,None,Action,Crime,Thriller
16,Red Heat,73992,"34,994,648",6.1,A,Arnold Schwarzenegger,Jim Belushi,Peter Boyle,Ed O'Ross,None,None,None,None,None,Action,Comedy,Crime
17,Conan the Destroyer,83462,"31,042,035",5.9,UA,Arnold Schwarzenegger,Grace Jones,Olivia d'Abo,Wilt Chamberlain,None,None,None,None,None,Action,Adventure,Fantasy
18,The 6th Day,125820,"34,604,280",5.9,U,Arnold Schwarzenegger,Michael Rapaport,Tony Goldwyn,Michael Rooker,None,None,None,None,None,Action,Mystery,Sci-Fi
19,End of Days,114577,"66,889,043",5.8,R,Arnold Schwarzenegger,Gabriel Byrne,Robin Tunney,Kevin Pollak,None,None,None,None,None,Action,Fantasy,Horror
20,Sabotage,65172,"10,508,518",5.7,A,Arnold Schwarzenegger,Sam Worthington,Terrence Howard,Olivia Williams,None,None,None,None,None,Action,Crime,Drama
21,Raw Deal,36401,"16,209,459",5.6,A,Arnold Schwarzenegger,Kathryn Harrold,Sam Wanamaker,Paul Shenar,None,None,None,None,None,Action,Crime,Thriller
22,Collateral Damage,76885,"40,077,257",5.5,A,Arnold Schwarzenegger,John Leguizamo,Francesca Neri,Elias Koteas,None,None,None,None,None,Action,Drama,Thriller
23,Red Sonja,43729,"6,948,633",5.1,U,Arnold Schwarzenegger,Brigitte Nielsen,Sandahl Bergman,Paul L. Smith,None,None,None,None,None,Action,Adventure,Fantasy
24,Batman & Robin,262035,"107,325,195",3.8,U,Arnold Schwarzenegger,George Clooney,Chris O'Donnell,Uma Thurman,None,None,None,None,None,Action,Sci-Fi,None

2. Display all details of the movie with the highest number of votes

In [90]:
qry = "SELECT * FROM stars ORDER BY Votes DESC LIMIT 1;"
df_qry = pd.read_sql_query(qry, conn)
df_qry

,Movie Name,Votes,Gross collection,Popularity,Certification,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,The Dark Knight,2759160,"534,858,444",9.0,UA,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,None,None,None,None,None,Action,Crime,Drama

3. Display movie names with gross collections in descending order

In [91]:
qry = "SELECT * FROM stars ORDER BY `Gross collection` DESC;"
df_qry = pd.read_sql_query(qry, conn)
df_qry

,Movie Name,Votes,Gross collection,Popularity,Certification,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,Olympus Has Fallen,285631,"98,925,640",6.5,A,Gerard Butler,Aaron Eckhart,Morgan Freeman,Angela Bassett,None,None,None,None,None,Action,Thriller,None
1,The Green Hornet,162994,"98,780,042",5.8,18,Seth Rogen,Jay Chou,Christoph Waltz,Cameron Diaz,None,None,None,None,None,Action,Comedy,Crime
2,Sherlock Jr.,53496,"977,375",8.2,None,Buster Keaton,Kathryn McGuire,Joe Keaton,Erwin Connelly,None,None,None,None,None,Action,Comedy,Romance
3,Kantara,97292,97292,8.3,UA,Rishab Shetty,Kishore Kumar G.,Achyuth Kumar,Sapthami Gowda,None,None,None,None,None,Action,Adventure,Drama
4,Inspector Gadget,49844,"97,403,112",4.2,U,Matthew Broderick,Rupert Everett,Joely Fisher,Michelle Trachtenberg,None,None,None,None,None,Action,Adventure,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1770,Love and Monsters,136172,"1,070,714",6.9,13,Dylan O'Brien,Jessica Henwick,Michael Rooker,Dan Ewing,None,None,None,None,None,Action,Adventure,Comedy
1771,The General,94966,"1,033,895",8.1,None,Buster Keaton,Buster Keaton,Marion Mack,Glen Cavender,Jim Farley,None,None,None,None,Action,Adventure,Comedy
1772,Attack the Block,109725,"1,024,175",6.7,R,John Boyega,Jodie Whittaker,Alex Esmail,Leeon Jones,None,None,None,None,None,Action,Adventure,Comedy
1773,Cowboy Bebop: Tengoku no tobira,51117,"1,000,045",7.8,U,Mary Elizabeth McGlynn,Tensai Okamura,Hiroyuki Okiura,Yoshiyuki Takei,Beau Billingslea,Melissa Fahn,Nicholas Guest,Kôichi Yamadera,None,Animation,Action,Crime
1774,Army of the Dead,180188,"1,000,000",5.8,18,Dave Bautista,Ella Purnell,Ana de la Reguera,Omari Hardwick,None,None,None,None,None,Action,Crime,Drama

4. Display the gross collection of movies with the star Arnold

In [92]:
qry = "SELECT `Gross collection` FROM stars WHERE star1 LIKE '%Arnold%' OR star2 LIKE '%Arnold%' OR star3 LIKE '%Arnold%'"
df_qry = pd.read_sql_query(qry, conn)
df_qry

   Gross collection
0       204,843,350
1        38,400,000
2        59,735,548
3       119,394,840
4       146,282,411
5        39,565,475
6        25,132,228
7        38,122,105
8        35,100,000
9        50,016,394
10       89,760,956
11      150,371,112
12       12,050,299
13       62,253,077
14       91,457,688
15      101,295,562
16       34,994,648
17       31,042,035
18       34,604,280
19       66,889,043
20       10,508,518
21       16,209,459
22       40,077,257
23        6,948,633
24      107,325,195

5.Display all details of movies with comedy and action genres.

In [93]:
qry = "SELECT * FROM stars WHERE Genre1 = 'Comedy' OR Genre2 = 'Comedy' OR Genre3 = 'Comedy' AND (Genre1 = 'Action' OR Genre2 = 'Action' OR Genre3 = 'Action')"
df_qry = pd.read_sql_query(qry, conn)
df_qry

,Movie Name,Votes,Gross collection,Popularity,Certification,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,Gangs of Wasseypur,100146,100146,8.2,A,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,None,None,None,None,None,Action,Comedy,Crime
1,Sherlock Jr.,53496,"977,375",8.2,None,Buster Keaton,Kathryn McGuire,Joe Keaton,Erwin Connelly,None,None,None,None,None,Action,Comedy,Romance
2,"Lock, Stock and Two Smoking Barrels",599779,"3,897,569",8.1,A,Jason Flemyng,Dexter Fletcher,Nick Moran,Jason Statham,None,None,None,None,None,Action,Comedy,Crime
3,The General,94966,"1,033,895",8.1,None,Buster Keaton,Buster Keaton,Marion Mack,Glen Cavender,Jim Farley,None,None,None,None,Action,Adventure,Comedy
4,Hera Pheri,70066,70066,8.1,U,Akshay Kumar,Suniel Shetty,Paresh Rawal,Tabu,None,None,None,None,None,Action,Comedy,Crime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,The Adventures of Pluto Nash,26569,"4,420,080",3.9,PG-13,Eddie Murphy,Jay Mohr,Randy Quaid,Rosario Dawson,None,None,None,None,None,Action,Comedy,Sci-Fi
370,The Adventures of Sharkboy and Lavagirl 3-D,40477,"39,177,684",3.7,U,Cayden Boyd,George Lopez,Kristin Davis,David Arquette,None,None,None,None,None,Action,Adventure,Comedy
371,Spy Kids 4: All the Time in the World,27294,"38,538,188",3.5,PG,Jessica Alba,Jeremy Piven,Joel McHale,Rowan Blanchard,None,None,None,None,None,Action,Adventure,Comedy
372,Heropanti 2,27084,27084,2.5,UA,Tiger Shroff,Nawazuddin Siddiqui,Tara Sutaria,Amber Doig-Thorne,None,None,None,None,None,Action,Comedy,Crime
373,Laxmii,58178,58178,2.5,UA 16+,Balakrishnan Thevar,Akshay Kumar,Kiara Advani,Sharad Kelkar,Ashwini Kalsekar,None,None,None,None,Action,Comedy,Horror

Subqueries
1. Display all details from both tables where movie names are the same

In [94]:
qry = """
SELECT *
FROM directors
INNER JOIN stars ON directors.`Movie Name` = stars.`Movie Name`
"""
df_qry = pd.read_sql_query(qry, conn)
df_qry

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,...,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,...,Aaron Eckhart,Michael Caine,None,None,None,None,None,Action,Crime,Drama
1,2,The Lord of the Rings: The Return of the King,201,2003,9.0,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,...,Ian McKellen,Orlando Bloom,None,None,None,None,None,Action,Adventure,Drama
2,3,Spider-Man: Across the Spider-Verse,140,2023,8.8,86.0,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,Shameik Moore,...,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,None,None,None,Animation,Action,Adventure
3,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,...,Elliot Page,Ken Watanabe,None,None,None,None,None,Action,Adventure,Sci-Fi
4,5,The Lord of the Rings: The Fellowship of the Ring,178,2001,8.8,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,...,Orlando Bloom,Sean Bean,None,None,None,None,None,Action,Adventure,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,1771,Radhe,109,2021,1.9,NaN,Prabhu Deva,Salman Khan,Disha Patani,Randeep Hooda,...,Randeep Hooda,Jackie Shroff,None,None,None,None,None,Action,Crime,Thriller
1833,1772,Race 3,160,2018,1.9,NaN,Remo D'Souza,Anil Kapoor,Salman Khan,Bobby Deol,...,Bobby Deol,Jacqueline Fernandez,None,None,None,None,None,Action,Crime,Thriller
1834,1773,Angels Apocalypse,85,2015,1.6,NaN,Sean Cain,Enzo Zelocchi,Enzo Zelocchi,Jana Rochelle,...,Jana Rochelle,Ryan C.F. Buckley,William Kirkham,None,None,None,None,Action,Fantasy,Sci-Fi
1835,1774,Elk*rtuk,125,2021,1.5,NaN,Keith English,Vivianne Bánovits,András Mózes,Barna Bokor,...,Barna Bokor,Gabriella Gubás,None,None,None,None,None,Action,Crime,Drama
1836,1775,Sadak 2,133,2020,1.2,NaN,Mahesh Bhatt,Alia Bhatt,Sanjay Dutt,Pooja Bhatt,...,Pooja Bhatt,Priyanka Bose,None,None,None,None,None,Action,Drama,None

2. Display all movie names, Director, ratings, and gross collection where the genre is action.

In [23]:
qry = """
SELECT directors.`Movie Name`, directors.Director1, directors.Director2, directors.Director3,
       directors.Director4, directors.Director5, directors.Director6, directors.Director7,
       directors.Director8, directors.Director9, directors.Ratings, stars.`Gross collection`
FROM directors
INNER JOIN stars ON directors.`Movie Name` = stars.`Movie Name`
WHERE stars.Genre1 = 'Action' OR stars.Genre2 = 'Action' OR stars.Genre3 = 'Action'
"""
df_qry = pd.read_sql_query(qry, conn)
df_qry

,Movie Name,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Ratings,Gross collection
0,The Dark Knight,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,None,None,None,None,9.0,"534,858,444"
1,The Lord of the Rings: The Return of the King,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,None,None,None,None,9.0,"377,845,905"
2,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,None,None,8.8,208001
3,Inception,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,None,None,None,None,8.8,"292,576,195"
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,None,None,None,None,8.8,"315,544,750"
...,...,...,...,...,...,...,...,...,...,...,...,...
1832,Radhe,Prabhu Deva,Salman Khan,Disha Patani,Randeep Hooda,Jackie Shroff,None,None,None,None,1.9,179107
1833,Race 3,Remo D'Souza,Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez,None,None,None,None,1.9,"1,690,861"
1834,Angels Apocalypse,Sean Cain,Enzo Zelocchi,Enzo Zelocchi,Jana Rochelle,Ryan C.F. Buckley,William Kirkham,None,None,None,1.6,42920
1835,Elk*rtuk,Keith English,Vivianne Bánovits,András Mózes,Barna Bokor,Gabriella Gubás,None,None,None,None,1.5,39618
1836,Sadak 2,Mahesh Bhatt,Alia Bhatt,Sanjay Dutt,Pooja Bhatt,Priyanka Bose,None,None,None,None,1.2,96379

3. Display all details from both tables with the highest gross collection.

In [95]:
qry = """
SELECT *
FROM Directors
INNER JOIN Stars ON Directors.`Movie Name` = Stars.`Movie Name`
WHERE Stars.`Gross collection` = (
    SELECT MAX(`Gross collection`)
    FROM Stars
)
"""
df_qry = pd.read_sql_query(qry, conn)
df_qry

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,...,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,891,Olympus Has Fallen,119,2013,6.5,41.0,Antoine Fuqua,Gerard Butler,Aaron Eckhart,Morgan Freeman,...,Morgan Freeman,Angela Bassett,None,None,None,None,None,Action,Thriller,None

4. Display all details from both tables with the highest ratings

In [96]:
qry = """
SELECT *
FROM Directors
INNER JOIN Stars ON Directors.`Movie Name` = Stars.`Movie Name`
WHERE Directors.Ratings = (
    SELECT MAX(Ratings)
    FROM Directors
)
"""

df_qry = pd.read_sql_query(qry, conn)
df_qry

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,...,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,...,Aaron Eckhart,Michael Caine,None,None,None,None,None,Action,Crime,Drama
1,2,The Lord of the Rings: The Return of the King,201,2003,9.0,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,...,Ian McKellen,Orlando Bloom,None,None,None,None,None,Action,Adventure,Drama

5. Display all details from both tables with the lowest gross collection and lowest ratings

In [97]:
qry = """
SELECT *
FROM Directors
INNER JOIN Stars ON Directors.`Movie Name` = Stars.`Movie Name`
WHERE Stars.`Gross collection` = (
    SELECT MIN(`Gross collection`)
    FROM Stars
)
AND Directors.Ratings = (
    SELECT MIN(Ratings)
    FROM Directors
)
"""

df_qry = pd.read_sql_query(qry, conn)
df_qry

Empty DataFrame
Columns: [S.no, Movie Name, Duration, Year, Ratings, Metascore, Director1, Director2, Director3, Director4, Director5, Director6, Director7, Director8, Director9, Director10, Movie Name, Votes, Gross collection, Popularity, Certification, Star1, Star2, Star3, Star4, Star5, Star6, Star7, Star8, Star9, Genre1, Genre2, Genre3]
Index: []

[0 rows x 33 columns]

In [98]:
qry = """
SELECT *
FROM Directors
INNER JOIN Stars ON Directors.`Movie Name` = Stars.`Movie Name`
WHERE Stars.`Gross collection` = (
    SELECT MIN(`Gross collection`)
    FROM Stars
)
OR Directors.Ratings = (
    SELECT MIN(Ratings)
    FROM Directors
)
"""

df_qry = pd.read_sql_query(qry, conn)
df_qry

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,...,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,1384,Army of the Dead,148,2021,5.8,57.0,Zack Snyder,Dave Bautista,Ella Purnell,Ana de la Reguera,...,Ana de la Reguera,Omari Hardwick,None,None,None,None,None,Action,Crime,Drama
1,1775,Sadak 2,133,2020,1.2,NaN,Mahesh Bhatt,Alia Bhatt,Sanjay Dutt,Pooja Bhatt,...,Pooja Bhatt,Priyanka Bose,None,None,None,None,None,Action,Drama,None

Queries using PANDAS SQL

In [99]:
df1 = pd.read_csv("imdb_data1.csv")

In [100]:
df1.head()

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Director10
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,NaN,NaN,NaN,NaN,NaN
1,2,The Lord of the Rings: The Return of the King,201,2003,9.0,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,NaN,NaN,NaN,NaN,NaN
2,3,Spider-Man: Across the Spider-Verse,140,2023,8.8,86.0,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,NaN,NaN,NaN
3,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,NaN,NaN,NaN,NaN,NaN
4,5,The Lord of the Rings: The Fellowship of the Ring,178,2001,8.8,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,NaN,NaN,NaN,NaN,NaN

In [101]:
df2 = pd.read_csv("imdb_data2.csv")

In [102]:
df2.head()

,Movie Name,Votes,Gross collection,Popularity,Certification,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,The Dark Knight,2759160,"534,858,444",9.0,UA,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,NaN,NaN,NaN,NaN,NaN,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,1906339,"377,845,905",9.0,U,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Drama
2,Spider-Man: Across the Spider-Verse,208178,208178,8.8,U,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,NaN,NaN,NaN,Animation,Action,Adventure
3,Inception,2449482,"292,576,195",8.8,UA,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Sci-Fi
4,The Lord of the Rings: The Fellowship of the Ring,1934546,"315,544,750",8.8,U,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Drama

In [120]:
df_merge = pd.merge(df1, df2, on='Movie Name', how='inner')

In [121]:
df_merge.head()

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,...,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,...,Aaron Eckhart,Michael Caine,NaN,NaN,NaN,NaN,NaN,Action,Crime,Drama
1,2,The Lord of the Rings: The Return of the King,201,2003,9.0,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,...,Ian McKellen,Orlando Bloom,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Drama
2,3,Spider-Man: Across the Spider-Verse,140,2023,8.8,86.0,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,Shameik Moore,...,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,NaN,NaN,NaN,Animation,Action,Adventure
3,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,...,Elliot Page,Ken Watanabe,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Sci-Fi
4,5,The Lord of the Rings: The Fellowship of the Ring,178,2001,8.8,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,...,Orlando Bloom,Sean Bean,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Drama

1. Display all the details of movies created by directors Christopher and Matt Reeves.

In [39]:
df_directors = df1[
    (df1['Director1'] == 'Christopher Nolan') |
    (df1['Director2'] == 'Christopher Nolan') |
    (df1['Director3'] == 'Christopher Nolan') |
    (df1['Director4'] == 'Christopher Nolan') |
    (df1['Director5'] == 'Christopher Nolan') |
    (df1['Director6'] == 'Christopher Nolan') |
    (df1['Director7'] == 'Christopher Nolan') |
    (df1['Director8'] == 'Christopher Nolan') |
    (df1['Director9'] == 'Christopher Nolan') |
    (df1['Director1'] == 'Matt Reeves') |
    (df1['Director2'] == 'Matt Reeves') |
    (df1['Director3'] == 'Matt Reeves') |
    (df1['Director4'] == 'Matt Reeves') |
    (df1['Director5'] == 'Matt Reeves') |
    (df1['Director6'] == 'Matt Reeves') |
    (df1['Director7'] == 'Matt Reeves') |
    (df1['Director8'] == 'Matt Reeves') |
    (df1['Director9'] == 'M')]

df_directors

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Director10
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,NaN,NaN,NaN,NaN,NaN
3,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,NaN,NaN,NaN,NaN,NaN
16,17,The Dark Knight Rises,164,2012,8.4,78.0,Christopher Nolan,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,NaN,NaN,NaN,NaN,NaN
36,37,Batman Begins,140,2005,8.2,70.0,Christopher Nolan,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,NaN,NaN,NaN,NaN,NaN
129,130,Dunkirk,106,2017,7.8,94.0,Christopher Nolan,Fionn Whitehead,Barry Keoghan,Mark Rylance,Tom Hardy,NaN,NaN,NaN,NaN,NaN
131,132,The Batman,176,2022,7.8,72.0,Matt Reeves,Robert Pattinson,Zoë Kravitz,Jeffrey Wright,Colin Farrell,NaN,NaN,NaN,NaN,NaN
225,226,Dawn of the Planet of the Apes,130,2014,7.6,79.0,Matt Reeves,Gary Oldman,Keri Russell,Andy Serkis,Kodi Smit-McPhee,NaN,NaN,NaN,NaN,NaN
311,312,War for the Planet of the Apes,140,2017,7.4,82.0,Matt Reeves,Andy Serkis,Woody Harrelson,Steve Zahn,Karin Konoval,NaN,NaN,NaN,NaN,NaN
324,325,Tenet,150,2020,7.3,69.0,Christopher Nolan,John David Washington,Robert Pattinson,Elizabeth Debicki,Juhan Ulfsak,NaN,NaN,NaN,NaN,NaN
520,521,Cloverfield,85,2008,7.0,64.0,Matt Reeves,Mike Vogel,Jessica Lucas,Lizzy Caplan,T.J. Miller,NaN,NaN,NaN,NaN,NaN

2. Display all the details of movies with a duration of 140 minutes to 190 minutes

In [40]:
df_directors = df1[
    (df1['Duration'] >= 140) & (df1['Duration'] <= 190)
]

df_directors

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Director10
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,NaN,NaN,NaN,NaN,NaN
2,3,Spider-Man: Across the Spider-Verse,140,2023,8.8,86.0,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,NaN,NaN,NaN
3,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,NaN,NaN,NaN,NaN,NaN
4,5,The Lord of the Rings: The Fellowship of the Ring,178,2001,8.8,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,NaN,NaN,NaN,NaN,NaN
5,6,The Lord of the Rings: The Two Towers,179,2002,8.8,87.0,Peter Jackson,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1761,1762,Liger,140,2022,2.7,NaN,Puri Jagannadh,Ananya Panday,Mike Tyson,Vijay Deverakonda,Ronit Roy,NaN,NaN,NaN,NaN,NaN
1762,1763,Gunday,152,2014,2.7,NaN,Ali Abbas Zafar,Ranveer Singh,Arjun Kapoor,Priyanka Chopra Jonas,Irrfan Khan,NaN,NaN,NaN,NaN,NaN
1765,1766,Heropanti 2,145,2022,2.5,NaN,Ahmed Khan,Tiger Shroff,Nawazuddin Siddiqui,Tara Sutaria,Amber Doig-Thorne,NaN,NaN,NaN,NaN,NaN
1766,1767,Laxmii,141,2020,2.5,NaN,Raghava Lawrence,Balakrishnan Thevar,Akshay Kumar,Kiara Advani,Sharad Kelkar,Ashwini Kalsekar,NaN,NaN,NaN,NaN
1771,1772,Race 3,160,2018,1.9,NaN,Remo D'Souza,Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez,NaN,NaN,NaN,NaN,NaN

3. Display all details of movies with ratings above 7 in ascending order

In [41]:
df_directors = df1[df1['Ratings'] > 7]

df_sort = df_directors.sort_values('Ratings', ascending=True)

df_sort

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Director10
492,493,Gabbar Is Back,128,2015,7.1,NaN,Radha Krishna Jagarlamudi,Akshay Kumar,Shruti Haasan,Kareena Kapoor,Suman,NaN,NaN,NaN,NaN,NaN
459,460,Desperado,104,1995,7.1,55.0,Robert Rodriguez,Antonio Banderas,Salma Hayek,Joaquim de Almeida,Cheech Marin,NaN,NaN,NaN,NaN,NaN
458,459,Creed II,130,2018,7.1,66.0,Steven Caple Jr.,Michael B. Jordan,Sylvester Stallone,Tessa Thompson,Phylicia Rashad,NaN,NaN,NaN,NaN,NaN
457,458,Deepwater Horizon,107,2016,7.1,68.0,Peter Berg,Mark Wahlberg,Kurt Russell,Douglas M. Griffin,James DuMont,NaN,NaN,NaN,NaN,NaN
456,457,The Poseidon Adventure,117,1972,7.1,70.0,Ronald Neame,Gene Hackman,Ernest Borgnine,Shelley Winters,Red Buttons,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,5,The Lord of the Rings: The Fellowship of the Ring,178,2001,8.8,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,NaN,NaN,NaN,NaN,NaN
3,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,NaN,NaN,NaN,NaN,NaN
2,3,Spider-Man: Across the Spider-Verse,140,2023,8.8,86.0,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,NaN,NaN,NaN
1,2,The Lord of the Rings: The Return of the King,201,2003,9.0,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,NaN,NaN,NaN,NaN,NaN
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,NaN,NaN,NaN,NaN,NaN

4. Display all movie names in descending order

In [46]:
df_sort = df1.sort_values('Movie Name', ascending=False)
df_sort = df_sort.reset_index(drop=True)
title = df_sort['Movie Name']
title

0                     Ölümlü Dünya
1                         Æon Flux
2          xXx: State of the Union
3       xXx: Return of Xander Cage
4                              xXx
                   ...
1770                     12 Rounds
1771                     10,000 BC
1772               1 - Nenokkadine
1773                           '71
1774                     #Saraitda
Name: Movie Name, Length: 1775, dtype: object

5. Display movie name starts with ‘P’ and their rating is greater than 7

In [48]:
df_directors = df1[(df1['Movie Name'].str.startswith('P')) & (df1['Ratings'] > 7)]
title = df_directors['Movie Name']

title

55                                      Paan Singh Tomar
57     Pirates of the Caribbean: The Curse of the Bla...
118                              Per un pugno di dollari
135                                             Predator
239                            Pushpa: The Rise - Part 1
243                                   Ponniyin Selvan: I
302           Pirates of the Caribbean: Dead Man's Chest
305                                       Predestination
361                                         Patriots Day
385                                          Point Break
442                                                 Prey
447             Pirates of the Caribbean: At World's End
471                                              Payback
Name: Movie Name, dtype: object

Stars Table
1. Display all movie names with star Arnold Schwarzenegger in ascending order

In [78]:
stars = ['Star1', 'Star2', 'Star3', 'Star4', 'Star5', 'Star6', 'Star7', 'Star8', 'Star9']

df_melt = pd.melt(df2, id_vars=['Movie Name'], value_vars=stars, var_name='Star Number', value_name='Star Name')

df_filt = df_melt.dropna(subset=['Star Name'])

df_filt = df_filt[df_filt['Star Name'].str.contains('Arnold Schwarzenegger', case=False)]

title = df_filt['Movie Name'].sort_values(ascending=True)

for i in title:
    print(i)

Batman & Robin
Collateral Damage
Commando
Conan the Barbarian
Conan the Destroyer
End of Days
Eraser
Escape Plan
Kindergarten Cop
Last Action Hero
Predator
Raw Deal
Red Heat
Red Sonja
Sabotage
Terminator 2: Judgment Day
Terminator 3: Rise of the Machines
Terminator Genisys
Terminator: Dark Fate
The 6th Day
The Last Stand
The Running Man
The Terminator
Total Recall
True Lies

2. Display all details of the movie with the highest number of votes

In [105]:
title = df2.loc[df2['Votes'].idxmax()]
title

Movie Name          The Dark Knight
Votes                       2759160
Gross collection        534,858,444
Popularity                      9.0
Certification                    UA
Star1                Christian Bale
Star2                  Heath Ledger
Star3                 Aaron Eckhart
Star4                 Michael Caine
Star5                           NaN
Star6                           NaN
Star7                           NaN
Star8                           NaN
Star9                           NaN
Genre1                       Action
Genre2                        Crime
Genre3                        Drama
Name: 0, dtype: object

3. Display movie names with gross collections in descending order

In [106]:
df_sort = df2.sort_values('Gross collection', ascending=False)
title = df_sort['Movie Name']
title

890                  Olympus Has Fallen
1413                   The Green Hornet
50                         Sherlock Jr.
31                              Kantara
1732                   Inspector Gadget
                     ...
600                   Love and Monsters
70                          The General
720                    Attack the Block
162     Cowboy Bebop: Tengoku no tobira
1383                   Army of the Dead
Name: Movie Name, Length: 1775, dtype: object

4. Display the gross collection of movies with the star Arnold

In [107]:
df_filt = df2.loc[
    (df2['Star1'].str.contains('Arnold', na=False)) |
    (df2['Star2'].str.contains('Arnold', na=False)) |
    (df2['Star3'].str.contains('Arnold', na=False)) |
    (df2['Star4'].str.contains('Arnold', na=False)) |
    (df2['Star5'].str.contains('Arnold', na=False)) |
    (df2['Star6'].str.contains('Arnold', na=False)) |
    (df2['Star7'].str.contains('Arnold', na=False)) |
    (df2['Star8'].str.contains('Arnold', na=False)) |
    (df2['Star9'].str.contains('Arnold', na=False))]

title = df_filt['Gross collection']
title

9       204,843,350
58       38,400,000
135      59,735,548
258     119,394,840
332     146,282,411
435     155,247,825
574      39,565,475
690      25,132,228
698      38,122,105
703      35,100,000
891      50,016,394
926     202,019,785
1007     89,760,956
1018    150,371,112
1047     12,050,299
1087     62,253,077
1102     91,457,688
1128    101,295,562
1228     34,994,648
1335     31,042,035
1341     34,604,280
1399     66,889,043
1468     10,508,518
1505     16,209,459
1561     40,077,257
1657      6,948,633
1745    107,325,195
Name: Gross collection, dtype: object

5. Display all details of movies with comedy and action genres

In [108]:
df_filt = df2[
    (df2['Genre1'] == 'Comedy') | (df2['Genre2'] == 'Comedy') | (df2['Genre3'] == 'Comedy')
    & (df2['Genre1'] == 'Action') | (df2['Genre2'] == 'Action') | (df2['Genre3'] == 'Action')
]

df_filt

,Movie Name,Votes,Gross collection,Popularity,Certification,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
2,Spider-Man: Across the Spider-Verse,208178,208178,8.8,U,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,NaN,NaN,NaN,Animation,Action,Adventure
18,Spider-Man: Into the Spider-Verse,617896,"190,241,310",8.4,U,Peter Ramsey,Rodney Rothman,Shameik Moore,Jake Johnson,Hailee Steinfeld,Mahershala Ali,NaN,NaN,NaN,Animation,Action,Adventure
29,Mononoke-hime,412524,"2,375,308",8.3,U,Yôji Matsuda,Yuriko Ishida,Yûko Tanaka,Billy Crudup,NaN,NaN,NaN,NaN,NaN,Animation,Action,Adventure
45,Kimetsu no Yaiba: Mugen Ressha-Hen,66782,"47,700,000",8.2,UA,Natsuki Hanae,Akari Kitô,Yoshitsugu Matsuoka,Hiro Shimono,NaN,NaN,NaN,NaN,NaN,Animation,Action,Adventure
46,Gangs of Wasseypur,100146,100146,8.2,A,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,NaN,NaN,NaN,NaN,NaN,Action,Comedy,Crime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1744,The Adventures of Pluto Nash,26569,"4,420,080",3.9,PG-13,Eddie Murphy,Jay Mohr,Randy Quaid,Rosario Dawson,NaN,NaN,NaN,NaN,NaN,Action,Comedy,Sci-Fi
1748,The Adventures of Sharkboy and Lavagirl 3-D,40477,"39,177,684",3.7,U,Cayden Boyd,George Lopez,Kristin Davis,David Arquette,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Comedy
1754,Spy Kids 4: All the Time in the World,27294,"38,538,188",3.5,PG,Jessica Alba,Jeremy Piven,Joel McHale,Rowan Blanchard,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Comedy
1765,Heropanti 2,27084,27084,2.5,UA,Tiger Shroff,Nawazuddin Siddiqui,Tara Sutaria,Amber Doig-Thorne,NaN,NaN,NaN,NaN,NaN,Action,Comedy,Crime
1766,Laxmii,58178,58178,2.5,UA 16+,Balakrishnan Thevar,Akshay Kumar,Kiara Advani,Sharad Kelkar,Ashwini Kalsekar,NaN,NaN,NaN,NaN,Action,Comedy,Horror

Subqueries
1. Display all details from both tables where movie names are the same

In [109]:
df_merge

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,...,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,...,Aaron Eckhart,Michael Caine,NaN,NaN,NaN,NaN,NaN,Action,Crime,Drama
1,2,The Lord of the Rings: The Return of the King,201,2003,9.0,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,...,Ian McKellen,Orlando Bloom,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Drama
2,3,Spider-Man: Across the Spider-Verse,140,2023,8.8,86.0,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,Shameik Moore,...,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,NaN,NaN,NaN,Animation,Action,Adventure
3,4,Inception,148,2010,8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,...,Elliot Page,Ken Watanabe,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Sci-Fi
4,5,The Lord of the Rings: The Fellowship of the Ring,178,2001,8.8,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,...,Orlando Bloom,Sean Bean,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,1771,Radhe,109,2021,1.9,NaN,Prabhu Deva,Salman Khan,Disha Patani,Randeep Hooda,...,Randeep Hooda,Jackie Shroff,NaN,NaN,NaN,NaN,NaN,Action,Crime,Thriller
1833,1772,Race 3,160,2018,1.9,NaN,Remo D'Souza,Anil Kapoor,Salman Khan,Bobby Deol,...,Bobby Deol,Jacqueline Fernandez,NaN,NaN,NaN,NaN,NaN,Action,Crime,Thriller
1834,1773,Angels Apocalypse,85,2015,1.6,NaN,Sean Cain,Enzo Zelocchi,Enzo Zelocchi,Jana Rochelle,...,Jana Rochelle,Ryan C.F. Buckley,William Kirkham,NaN,NaN,NaN,NaN,Action,Fantasy,Sci-Fi
1835,1774,Elk*rtuk,125,2021,1.5,NaN,Keith English,Vivianne Bánovits,András Mózes,Barna Bokor,...,Barna Bokor,Gabriella Gubás,NaN,NaN,NaN,NaN,NaN,Action,Crime,Drama
1836,1775,Sadak 2,133,2020,1.2,NaN,Mahesh Bhatt,Alia Bhatt,Sanjay Dutt,Pooja Bhatt,...,Pooja Bhatt,Priyanka Bose,NaN,NaN,NaN,NaN,NaN,Action,Drama,NaN

2. Display all movie names, Director, ratings, and gross collection where the genre is action

In [114]:
title = df2[
    (df2['Genre1'].str.lower() == 'action') |
    (df2['Genre2'].str.lower() == 'action') |
    (df2['Genre3'].str.lower() == 'action')
]

df_merge = pd.merge(df1, title, on='Movie Name', how='inner')

cols = ['Movie Name', 'Director1', 'Director2', 'Director3', 'Director4', 'Director5',
                   'Director6', 'Director7', 'Director8', 'Director9', 'Director10', 'Ratings', 'Gross collection']
dfcols = df_merge[cols]

dfcols

,Movie Name,Director1,Director2,Director3,Director4,Director5,Director6,Director7,Director8,Director9,Director10,Ratings,Gross collection
0,The Dark Knight,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,NaN,NaN,NaN,NaN,NaN,9.0,"534,858,444"
1,The Lord of the Rings: The Return of the King,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,NaN,NaN,NaN,NaN,NaN,9.0,"377,845,905"
2,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,NaN,NaN,NaN,8.8,208178
3,Inception,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,NaN,NaN,NaN,NaN,NaN,8.8,"292,576,195"
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,NaN,NaN,NaN,NaN,NaN,8.8,"315,544,750"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,Radhe,Prabhu Deva,Salman Khan,Disha Patani,Randeep Hooda,Jackie Shroff,NaN,NaN,NaN,NaN,NaN,1.9,179107
1833,Race 3,Remo D'Souza,Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez,NaN,NaN,NaN,NaN,NaN,1.9,"1,690,861"
1834,Angels Apocalypse,Sean Cain,Enzo Zelocchi,Enzo Zelocchi,Jana Rochelle,Ryan C.F. Buckley,William Kirkham,NaN,NaN,NaN,NaN,1.6,42920
1835,Elk*rtuk,Keith English,Vivianne Bánovits,András Mózes,Barna Bokor,Gabriella Gubás,NaN,NaN,NaN,NaN,NaN,1.5,39618
1836,Sadak 2,Mahesh Bhatt,Alia Bhatt,Sanjay Dutt,Pooja Bhatt,Priyanka Bose,NaN,NaN,NaN,NaN,NaN,1.2,96379

3. Display all details from both tables with the highest gross collection

In [122]:
df_cols = df_merge['Gross collection'].max()

df_res = df_merge[df_merge['Gross collection'] == df_cols]

df_res

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,...,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
948,891,Olympus Has Fallen,119,2013,6.5,41.0,Antoine Fuqua,Gerard Butler,Aaron Eckhart,Morgan Freeman,...,Morgan Freeman,Angela Bassett,NaN,NaN,NaN,NaN,NaN,Action,Thriller,NaN

4. Display all details from both tables with the highest ratings

In [124]:
df_cols = df_merge['Ratings'].max()
df_res = df_merge[df_merge['Ratings'] == df_cols]

df_res

,S.no,Movie Name,Duration,Year,Ratings,Metascore,Director1,Director2,Director3,Director4,...,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Genre1,Genre2,Genre3
0,1,The Dark Knight,152,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,...,Aaron Eckhart,Michael Caine,NaN,NaN,NaN,NaN,NaN,Action,Crime,Drama
1,2,The Lord of the Rings: The Return of the King,201,2003,9.0,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,...,Ian McKellen,Orlando Bloom,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Drama

5. Display all details from both tables with the lowest gross collection and lowest ratings

In [139]:
df_merge = pd.merge(df1, df2, on='Movie Name', how='inner')

lowest_gross = df_merge[df_merge['Gross collection'] == df_merge['Gross collection'].min()]
lowest_ratings = df_merge[df_merge['Ratings'] == df_merge['Ratings'].min()]

print("Movies with the lowest gross collection:")
print(lowest_gross)

print("Movies with the lowest ratings:")
print(lowest_ratings)

Movies with the lowest gross collection:
      S.no        Movie Name  Duration  Year  Ratings  Metascore    Director1  \
1453  1384  Army of the Dead       148  2021      5.8       57.0  Zack Snyder

          Director2     Director3          Director4  ...              Star3  \
1453  Dave Bautista  Ella Purnell  Ana de la Reguera  ...  Ana de la Reguera

               Star4 Star5 Star6 Star7 Star8  Star9  Genre1  Genre2 Genre3
1453  Omari Hardwick   NaN   NaN   NaN   NaN    NaN  Action   Crime  Drama

[1 rows x 32 columns]
Movies with the lowest ratings:
      S.no Movie Name  Duration  Year  Ratings  Metascore     Director1  \
1836  1775    Sadak 2       133  2020      1.2        NaN  Mahesh Bhatt

       Director2    Director3    Director4  ...        Star3          Star4  \
1836  Alia Bhatt  Sanjay Dutt  Pooja Bhatt  ...  Pooja Bhatt  Priyanka Bose

     Star5 Star6 Star7 Star8  Star9  Genre1  Genre2 Genre3
1836   NaN   NaN   NaN   NaN    NaN  Action   Drama    NaN

[1 rows x 32 columns]